.perfil{

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:50px;

}

.cardPerfil{

background:#1f1f1f;
padding:30px;
border-radius:15px;
width:350px;
display:flex;
flex-direction:column;
gap:15px;

}

.cardPerfil button{

padding:12px;
background:#ff7b00;
color:white;
border:none;
border-radius:10px;
cursor:pointer;

}