*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#121212;
    color:#ffffff;
}

a{
    color:white;
    text-decoration:none;
}

button{
    background:#ff7a00;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#ff9500;
}